@-moz-document url("about:newtab") { .logo-and-wordmark, .search-wrapper { display: none !important } }
@-moz-document url("about:privatebrowsing") { .showPrivate { display: none } }

@-moz-document domain("reddit.com") {
  /* hide logo */
  #header-img { display: none !important; }

  /* comment box */
  .commentsignupbar { display: none !important; }

  /* clean sidebar */
  .side > .spacer > *:not(.titlebox) { display: none !important; }

  /* become a redditor banner */
  .listingsignupbar { display: none !important }

  /* list of related posts inserted between comments */
  .seo-comments, .seo-comments-recommendations, #bottom-comments { display: none }
  /* related post banner at bottom-right */
  .read-next-container { display: none !important }

  /* comments */
  /* .entry > ul > li:not(:first-child), .midcol { display: none !important } */
  .entry > form { margin: .65em 0 }
  .entry .buttons li a { font-weight: normal !important }
  .stickied.locked.comment { display: none }
}

@-moz-document domain("google.com") {
  .AUiS2, .ULSxyf
  { display: none !important }
}

@-moz-document domain("docs.python.org") {
    :not(.sig) > em, .sig-param .n span { color: #d22 }
}

@-moz-document domain("news.ycombinator.com") {
  td, #hnmain { background: transparent !important }
  img { visibility: hidden }
}

@-moz-document domain("askubuntu.com"), domain("serverfault.com"), domain("stackexchange.com"), domain("stackoverflow.com"), domain("superuser.com") {
  .js-voting-container > button { visibility: hidden }
  #announcement-banner, header, #question-header > div, #left-sidebar, #sidebar, #post-form, #post-form ~ *, footer, .bottom-notice, .post-signature { display: none !important }
  #mainbar { width: 728px !important }
  body { padding: 0 0 70px !important }
  #content { border-left-width: 0 !important }
}

@-moz-document domain("qiita.com") {
  [id^=GlobalHeader],
  .style-yrmhnf, /* scores */
  .style-i43zkt, /* user name */
  .it-MdContent ~ *, /* footer 1 */
  .p-items_main > *:nth-child(2), /* footer 2 */
  footer /* footer 3 */
  { display: none !important }
  .p-items_main { width: 100% !important }
  .p-items_options { display: none }
}

@-moz-document domain("developer.mozilla.org") {
	.top-banner, .main-document-header-container { display: none }
	#sidebar-quicklinks { top: 20px !important }
	.toc-container      { top: 0    !important }
}

.scroll-hint-icon-wrap { display: none } /* disable horizontal scroll hint finger icon */
