@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* UI font */
/* * { font-family: Droid Sans Japanese !important; } */

/* Thin Scrollbar */
.scroller { overflow-y: scroll; scrollbar-color: #0A4C95 #C2D2E4; }

/* Hide tab bar */
#TabsToolbar { visibility: collapse !important; }
#titlebar { visibility: collapse !important; } /* windows? */

/* No white flash */
#tabbrowser-tabpanels { background: #111111 !important; }
.browserContainer { background-color: #111111 !important; }

/* Sidebar width */
/* #sidebar { width: 12em !important; min-width: 2em !important; } */
/* FF 107: #sidebar is now contained in #sidebar-box, and setting #sidebar width will make unnecessary space on the right of the sidebar content. */
#sidebar-box { min-width: 2em !important; max-width: 100em !important; }

/* Hide sidebar title */
#sidebar-header { visibility: collapse !important; }

/* Disable fullscreen animation (about:config not working?) */
#navigator-toolbox[fullscreenShouldAnimate] { transition: none !important; }

/* Hide pointer-lock notification */
#fullscreen-and-pointerlock-wrapper { display: none !important }

/* Disable slide effect for "Search xxx directly from the address bar" */
.urlbarView-results > .urlbarView-row > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-title:not(:empty) ~ .urlbarView-action[slide-in] { animation-name: unset !important; animation-duration: unset !important; animation-timing-function: unset !important; }

/* NOT WORKING WHY? No "Firefox Suggest" in urlbar popup */
.urlbarView-row[label="Firefox Suggest"] { display: none !important; font-size: 100px !important; }

/* Disable sound icon on tabs */
.tab-icon-overlay[soundplaying][pinned],
.tab-icon-overlay[muted][pinned],
.tab-icon-overlay[activemedia-blocked][pinned] { display: none !important; }
.tab-icon-sound[pinned] { display: none !important; }

/* Disable firefox update notification (2022/12, v107) */
#appMenu-update-restart-notification, #appMenu-update-manual-notification, #appMenu-update-available-notification, .toolbarbutton-badge { display: none !important; }
.toolbarbutton-badge { display: none }


/* ---- FF 109 "Extensions" button in toolbar ---- */

/* Sort/hide addons in #unified-extensions-area */
#unified-extensions-area { display: flex; flex-flow: column }
.unified-extensions-item[label="Greasemonkey"]
{ order: 1 }
.unified-extensions-item[label="Stylus"]
{ order: 2 }
.unified-extensions-item[label="Open With"]
{ display: none }
.unified-extensions-item[label="Vimium"]
{ order: 3 }

/* Sort/hide addons in .unified-extensions-list */
.unified-extensions-list { display: flex; flex-flow: column }
.unified-extensions-item-action-button[data-extensionid*="dragselectlinktext"],
.unified-extensions-item-action-button[data-extensionid*="dragselectlinktext"] + *
{ display: none !important }
.unified-extensions-item-action-button[data-extensionid*="9b8ce341"],
.unified-extensions-item-action-button[data-extensionid*="9b8ce341"] + *
{ display: none !important }

/* Hide permission msg */
.unified-extensions-item-message-deck { display: none }

/* Hide panel title */
#unified-extensions-view .panel-header { display: none !important }

/* Make them thinner */
.unified-extensions-item-action-button { max-height: 20px }
.unified-extensions-item-action-button .toolbarbutton-badge-stack, .unified-extensions-item-icon { transform: scale(0.7) }

/* -------- */


/* Tab Sidebar CSS
:root { --item-height: 2.4em }
* { font-family: Droid Sans Japanese }

[data-theme=dark] { background: #28282d }

[data-ctl=items] > [data-item] { border-bottom: solid #ddd 1px; padding-left: 0.5em }
[data-theme=dark] [data-ctl=items] > [data-item] { border-botom-color: #393939 }

[data-ctl=items] > [data-active] { background: #eee; font-weight: bold }
[data-theme=dark] [data-ctl=items] > [data-active] { background: #38383d }
*/


/* force thin url bar */
toolbar#nav-bar {
  height: 29px;
  margin-top: -9px;
  background: #444 !important;
}
#urlbar-container { margin-top: 4px; }
