"\e[A": history-search-backward
"\e[B": history-search-forward

"\es": "\C-asudo \C-e"
"\eg": "\C-e | grep -i "
"\eh": "\C-e --help"

"\C-h": vi-prev-word
"\C-l": vi-next-word
# "\M-h": vi-bWord
# "\M-l": vi-fWord
"\C-k": backward-word
"\C-j": forward-word
"\C-w": shell-backward-kill-word
"\C-z": undo

# Tab -> partial completion and show candidates
set show-all-if-ambiguous on

# Color files by types
set colored-stats On

# Append char to indicate type
set visible-stats On

# Mark symlinked directories
set mark-symlinked-directories On

# Color the common prefix
set colored-completion-prefix On

# Color the common prefix in menu-complete
set menu-complete-display-prefix On

# Don't show ^C etc.
set echo-control-characters off

# Vi editing mode: change cursor
# set show-mode-in-prompt on
# set vi-cmd-mode-string "\1\e[2 q\2"
# set vi-ins-mode-string "\1\e[6 q\2"

# Workaround (https://github.com/hanslub42/rlwrap/issues/108)
set enable-bracketed-paste off
