<openbox_menu>
  <menu id="client-menu">
    <menu id="workspaces" label="Workspace">
      <item label="Move to 1">
        <action name="SendToDesktop" to="1">
        </action>
      </item>
      <item label="Move to 2">
        <action name="SendToDesktop" to="2">
        </action>
      </item>
      <item label="Move to 3">
        <action name="SendToDesktop" to="3">
        </action>
      </item>
      <item label="Move to 4">
        <action name="SendToDesktop" to="4">
        </action>
      </item>
      <item label="Move to 5">
        <action name="SendToDesktop" to="5">
        </action>
      </item>
      <item label="Move left">
        <action name="SendToDesktop" to="left">
        </action>
      </item>
      <item label="Move right">
        <action name="SendToDesktop" to="right">
        </action>
      </item>
      <separator>
      </separator>
      <item label="Always on Visible Workspace">
        <action name="ToggleOmnipresent">
        </action>
      </item>
    </menu>
    <item label="Minimize">
      <action name="Iconify">
      </action>
    </item>
    <item label="Maximize">
      <action name="ToggleMaximize">
      </action>
    </item>
    <item label="Fullscreen">
      <action name="ToggleFullscreen">
      </action>
    </item>
    <item label="Roll up/down">
      <action name="ToggleShade">
      </action>
    </item>
    <item label="Decorations">
      <action name="ToggleDecorations">
      </action>
    </item>
    <item label="Always on Top">
      <action name="ToggleAlwaysOnTop">
      </action>
    </item>
    <item label="Close">
      <action name="Close">
      </action>
    </item>
  </menu>
  <menu id="root-menu">
    <separator label="Labwc Menu">
    </separator>
    <menu id="Internet" label="Internet">
      <item label="Firefox">
        <action name="Execute" command="firefox">
        </action>
      </item>
      <item label="Chromium">
        <action name="Execute" command="sh -c 'if command -v chromium; then chromium --gtk-version=4; else flatpak run io.github.ungoogled_software.ungoogled_chromium --gtk-version=4; fi'">
        </action>
      </item>
      <item label="VNC Client">
        <action name="Execute" command="~/script-local/vnc">
        </action>
      </item>
      <item label="Claws Mail">
        <action name="Execute" command="claws-mail">
        </action>
      </item>
    </menu>
    <menu id="Utils" label="Utils">
      <item label="PCManFM">
        <action name="Execute" command="pcmanfm">
        </action>
      </item>
      <item label="tmux">
        <action name="Execute" command="footclient -o line-height=18px -e uim-fep -e tmux">
        </action>
      </item>
      <item label="tmux light">
        <action name="Execute" command='sh -c "exec footclient \$(colorscheme myb foot) -o font=Unifont\\ JPMod:style=bold:pixelsize=16 -o line-height=18px -e sh -c MY_DARK=0\\ exec\\ uim-fep\\ -e\\ tmux" -'>
        </action>
      </item>
      <item label="dark">
        <action name="Execute" command="foot -e /bin/sh">
        </action>
      </item>
      <item label="light">
        <action name="Execute" command='sh -c "exec footclient \$(colorscheme myb foot) -o font=Unifont\\ JPMod:style=bold:pixelsize=16 -o line-height=18px -e sh -c MY_DARK=0\\ exec\\ /bin/sh" -'>
        </action>
      </item>
      <item label="big">
        <action name="Execute" command='sh -c "exec foot \$(colorscheme myb foot) -o font=Droid\\ Sans\\ Mono\\ Dotted:size=24 -o line-height=40px -e sh -c MY_DARK=0\\ exec\\ /bin/fish" -'>
        </action>
      </item>
      <item label="Mousepad">
        <action name="Execute" command="mousepad">
        </action>
      </item>
      <item label="VirtualBox">
        <action name="Execute" command="virtualbox">
        </action>
      </item>
    </menu>
    <menu id="Media" label="Media">
      <item label="Inkscape">
        <action name="Execute" command="inkscape">
        </action>
      </item>
      <item label="Draw.io">
        <action name="Execute" command="draw.io">
        </action>
      </item>
    </menu>
    <menu id="Labwc" label="Labwc">
      <menu id="Monitor" label="Monitor">
        <item label="HDMI-A-1 2160p 2x">
          <action name="Execute" command='sh -c "wlr-randr --output HDMI-A-1 --mode 3840x2160 --scale 2; pkill -x sfwbar; sfwbar -f myt2.config" -'>
          </action>
        </item>
        <item label="HDMI-A-2 2160p 2x">
          <action name="Execute" command='sh -c "wlr-randr --output HDMI-A-2 --mode 3840x2160 --scale 2; pkill -x sfwbar; sfwbar -f myt2.config" -'>
          </action>
        </item>
        <item label="Magnifier">
          <action name="ToggleMagnify">
          </action>
        </item>
        <item label="wl-gammactl">
          <action name="Execute" command='sh -c "pkill -x wl-gammactl || wl-gammactl -c 0.800 -b 0.900 -g 1.000" -'>
          </action>
        </item>
      </menu>
      <menu id="StopKeyd" label="Stop Keyd">
        <item label="Please press Esc+BS+Ret">
        </item>
      </menu>
      <item label="sfwbar">
        <action name="Execute" command='sh -c "pkill -x sfwbar; sfwbar -f myt2.config" -'>
        </action>
      </item>
      <item label="Reconfigure">
        <action name="Reconfigure">
        </action>
      </item>
      <item label="Exit">
        <action name="Exit">
        </action>
      </item>
      <item label="Hibernate">
        <action name="Execute" command="x-hibernate">
        </action>
      </item>
      <item label="Reboot">
        <action name="Execute" command="systemctl reboot">
        </action>
      </item>
      <item label="Poweroff">
        <action name="Execute" command="systemctl -i poweroff">
        </action>
      </item>
    </menu>
  </menu>
  <menu id="some-custom-menu">
    <item label="Reconfigure">
      <action name="Reconfigure">
      </action>
    </item>
  </menu>
</openbox_menu>
