! Tips{{{

! #define <variable> <value>
! You can use variables by using #define statement.
! #define red_color #ff8585

! #ifdef <variable>, #else, #endif
! Check if a variable is defined.
! #ifdef background_opacity
! *background:   [background_opacity]base00
! #else
! *background:   base00
! #endif

! #include <file>
! You may need -I option of xrdb: xrdb -I$HOME ~/.Xresources
! #include ".Xresources.d/xscreensaver"

! Opacity
! There are several ways to set opacity of colors.
! *background: rgba:0000/0010/0020/e700
! *background: [30]#666

!}}}

! Urxvt {{{

! Color theme {{{

! Transparency
URxvt*depth: 32
URxvt*inheritPixmap: false
! URxvt*transparent: false

! Color constants {{{

! #define urxvt_bg_opacity 85
! #define urxvt_bg_opacity 99

#define fgcolor  #A6AFB8
#define bgcolor  #10191F
#define curcolor #F9F5F4

! #define fgcolor  #000000
! #define bgcolor  #f0e8e8
! #define urxvt_bg_opacity 100
! #define curcolor #c00000

#define dblack   #18262F
#define bblack   #38464F
#define dred     #EF5253
#define bred     #FF6263
#define dgreen   #7CC844
#define bgreen   #8CD854
#define dyellow  #E4B51C
#define byellow  #F4C52C
#define dblue    #33B5E1
#define bblue    #43C5F1
#define dmagenta #A363D5
#define bmagenta #B373E5
#define dcyan    #52CBB0
#define bcyan    #62DBC0
! #define dwhite   #A6AFB8
! #define bwhite   #B6BFC8
#define dwhite   #C6CfD8
#define bwhite   #D6DFD8

! bblack   #38464F 345
! bred     #FF6263 f66
! bgreen   #8CD854 8d5
! byellow  #F4C52C ed3
! bblue    #43C5F1 4ce
! bmagenta #B373E5 a7d
! bcyan    #62DBC0 6db
! bwhite   #B6BFC8 bbc
!
! dblack   #18262F 123
! dred     #EF5253 e55
! dgreen   #7CC844 7c4
! dyellow  #E4B51C dc2
! dblue    #33B5E1 3bd
! dmagenta #A363D5 96c
! dcyan    #52CBB0 5ca
! dwhite   #A6AFB8 aab

! }}}

! Color mapping {{{

! dark
#define col_db #10191F
#define col_df #C6CFD8
#define col_dc #F9F5F4
#define col_do 85

#define col_ddk dblack
#define col_dbk bblack
#define col_ddr dred
#define col_dbr bred
#define col_ddg dgreen
#define col_dbg bgreen
#define col_ddy dyellow
#define col_dby byellow
#define col_ddb dblue
#define col_dbb bblue
#define col_ddm dmagenta
#define col_dbm bmagenta
#define col_ddc dcyan
#define col_dbc bcyan
! #define col_ddw dwhite
! #define col_dbw bwhite
#define col_ddw col_df
#define col_dbw col_df

! light
#define col_bb #f4f2f2
#define col_bf #443
#define col_bc #333
#define col_bo 94

#define col_bdk #f8f4f4
#define col_bbk #f8f4f4
#define col_bdr #e22
#define col_bbr #f33
#define col_bdg #060
#define col_bbg #282
#define col_bdy #c07700
#define col_bby #c88018
#define col_bdb #11a
#define col_bbb #33c
#define col_bdm #a59
#define col_bbm #b6a
#define col_bdc #088
#define col_bbc #0aa
! #define col_bdw #111
! #define col_bbw #111
#define col_bdw col_bf
#define col_bbw col_bf

! color for tests
! #define col_bdk #333
! #define col_bbk #333
! #define col_bdr #333
! #define col_bbr #333
! #define col_bdg #333
! #define col_bbg #333
! #define col_bdy #333
! #define col_bby #333
! #define col_bdb #333
! #define col_bbb #333
! #define col_bdm #333
! #define col_bbm #333
! #define col_bdc #333
! #define col_bbc #333
! #define col_bdw #333
! #define col_bbw #333

! }}}

! Set colors {{{

URxvt.foreground:   col_df
#ifdef col_do
URxvt.background: [col_do]col_db
#else
URxvt.background:   col_db
#endif
URxvt.cursorColor:  col_dc

URxvt.color0:  col_ddk
URxvt.color1:  col_ddr
URxvt.color2:  col_ddg
URxvt.color3:  col_ddy
URxvt.color4:  col_ddb
URxvt.color5:  col_ddm
URxvt.color6:  col_ddc
URxvt.color7:  col_ddw

URxvt.color8:  col_dbk
URxvt.color9:  col_dbr
URxvt.color10: col_dbg
URxvt.color11: col_dby
URxvt.color12: col_dbb
URxvt.color13: col_dbm
URxvt.color14: col_dbc
URxvt.color15: col_dbw

! URxvt.foreground:   col_bf
! #ifdef col_bo
! URxvt.background: [col_bo]col_bb
! #else
! URxvt.background:   col_bb
! #endif
! URxvt.cursorColor:  col_bc

! URxvt.color0:  col_bdk
! URxvt.color1:  col_bdr
! URxvt.color2:  col_bdg
! URxvt.color3:  col_bdy
! URxvt.color4:  col_bdb
! URxvt.color5:  col_bdm
! URxvt.color6:  col_bdc
! URxvt.color7:  col_bdw

! URxvt.color8:  col_bbk
! URxvt.color9:  col_bbr
! URxvt.color10: col_bbg
! URxvt.color11: col_bby
! URxvt.color12: col_bbb
! URxvt.color13: col_bbm
! URxvt.color14: col_bbc
! URxvt.color15: col_bbw


! }}}

! }}}

! Misc {{{

! Font
! URxvt.font: xft:Dina-9,xft:dinamplus gothic Wide:style=Regular:pixelsize=14,xft:Unifont
! URxvt.font: xft:Borg Sans Mono:style=Regular:size=14,xft:TakaoExGothic:style=Regular:size=15
! URxvt.font: xft:Droid Sans Mono Dotted:style=Regular:size=12,xft:TakaoExGothic:style=Regular:size=13
! URxvt.font: xft:Droid Sans Mono Dotted:style=Regular:size=12,xft:azuki_font:size=13
! URxvt.font: xft:Comic Mono:size=13,xft:TakaoExGothic:style=Regular:size=13
! URxvt.font: xft:Comic Mono:size=13,xft:azuki_font:size=13
! URxvt.font: xft:Comic Relief:size=11,xft:azuki_font:size=11:weight=Bold
! URxvt.font: xft:Unifont\\-JP:style=Regular:size=24
! URxvt.font: xft:Dina-9
! [221020] Bold font looks blurry for some reason. As a workaround I set boldFont separately. (size=12 and antialias=false seems to be both necessary for both .font and .boldFont)
! [221106] Broken again... I noticed (in zoomed screenshot) subpixel rendering in enabled. rgba=none seems to fix.
! URxvt.font: xft:UnifontMy:size=12:antialias=false
! URxvt.boldFont: xft:UnifontMy:style=Bold:pixelsize=16:rgba=none
! URxvt.boldFont: xft:UnifontMy:style=Bold:size=12:antialias=false
! 241221 ver.
! URxvt.font: xft:UnifontMy:size=12:rgba=none
! URxvt.boldFont: xft:UnifontMy:style=Bold:size=12:rgba=none
URxvt.font: xft:Unifont JPMod:size=12:rgba=none,xft:Unifont Upper:style=Regular:size=12:rgba=none
URxvt.boldFont: xft:Unifont JPMod:style=Bold:size=12:rgba=none,xft:Unifont Upper:style=Regular:size=12:rgba=none

! Xft.dpi:       96
! Xft.antialias: 1
! Xft.rgba:      rgb
! Xft.autohint:  0
! Xft.lcdfilter: lcddefault
! Xft.hinting:   1
! Xft.hintstyle: hintfull

! Xft.hintstyle: hintnone
! Xft.hinting: 0
! Xft.antialias: 0
! Xft.rgba: none

! No scroll bar
URxvt.scrollBar: false

! Window size
URxvt.geometry: 84x29

! Spacing
URxvt.letterSpace: 0
URxvt.lineSpace: -9

! Disable popup on the left-bottom corner on Ctrl+Shift
URxvt.iso14755: false
URxvt.iso14755_52: false

! IME popup position (Only 'OnTheSpot' and 'Root' are usable)
URxvt.preeditType: OnTheSpot
URxvt.inputMethod: uim

! Perl extensions
! URxvt.perl-ext-common: font-size,font-family,xim-onthespot
URxvt.perl-ext-common: font-size,xim-onthespot,change-color,matcher


! Open urls (urxvt-matcher)
! Todo: clickable file path
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline


! Bind keys to special commands (including perl extension commands)
URxvt.keysym.C-Page_Up:   font-size:increase
URxvt.keysym.C-Page_Down: font-size:decrease
! URxvt.keysym.M-Page_Up:   command:\033]710;xft:Droid Sans Mono Dotted-12,xft:TakaoExGothic-12:antialias=true\007
! URxvt.keysym.M-Page_Up:   command:\033]710;xft:Droid Sans Mono Dotted:style=Regular:size=11,xft:TakaoExGothic:style=Regular:size=12\007\033]711;xft:Droid Sans Mono Dotted:weight=Bold:size=11,xft:TakaoExGothic:weight=Bold:size=12\007
URxvt.keysym.M-Page_Up:   command:\033]710;xft:UnifontMyTheBold:size=12:rgba=none,xft:Unifont Upper:style=Regular:size=12:rgba=none\007
! URxvt.keysym.M-Page_Down: command:\033]710;xft:Dina-9,xft:dinamplus gothic Wide:style=Regular:pixelsize=14\007
! URxvt.keysym.M-Page_Down: command:\033]710;xft:Comic Mono:size=13,xft:TakaoExGothic:style=Regular:size=13\007
URxvt.keysym.M-Page_Down: command:\033]710;xft:UnifontMy:size=12:rgba=none,xft:Unifont Upper:style=Regular:size=12:rgba=none\007\033]711;xft:UnifontMy:style=Bold:size=12:rgba=none\007
! 710=normal, 711=bold, 712=italic, 713=bolditalic

! transparency: see https://gist.github.com/ehegnes/e68ca87e7623d58cfa19
! to change colors above 15, for example add "4;238;#d0cccc"
URxvt.keysym.S-Page_Up:   change-color:10;col_bf,49;[col_bo]col_bb,12;col_bc,4;0;col_bdk,4;1;col_bdr,4;2;col_bdg,4;3;col_bdy,4;4;col_bdb,4;5;col_bdm,4;6;col_bdc,4;7;col_bdw,4;8;col_bbk,4;9;col_bbr,4;10;col_bbg,4;11;col_bby,4;12;col_bbb,4;13;col_bbm,4;14;col_bbc,4;15;col_bbw,4;238;#d0cccc,4;236;#c0bcbc
URxvt.keysym.S-Page_Down: change-color:10;col_df,49;[col_do]col_db,12;col_dc,4;0;col_ddk,4;1;col_ddr,4;2;col_ddg,4;3;col_ddy,4;4;col_ddb,4;5;col_ddm,4;6;col_ddc,4;7;col_ddw,4;8;col_dbk,4;9;col_dbr,4;10;col_dbg,4;11;col_dby,4;12;col_dbb,4;13;col_dbm,4;14;col_dbc,4;15;col_dbw,4;238;#444444,4;236;#303030

URxvt.internalBorder: 10
URxvt.borderColor:    #181818

! }}}

! }}}

! Emacs {{{
Emacs*toolBar: 0
Emacs*menuBar: 0
Emacs*scrollBar: 0
Emacs*geometry: 83x28
Emacs*verticalScrollBars: false
! Emacs.font: Roboto Mono-10
! Emacs.font: Comic Relief:size=14
! Emacs.font: uzura_font:size=17
! Emacs.font: Migu 2M:size=16
Emacs.font: Comic Mono:size=17
Emacs.lineSpacing: 4
! }}}

! Sxiv, nsxiv {{{
Sxiv.background: #000000
Sxiv.foreground: #aaaaaa
! Sxiv.font: Migu 2M:size=13
Sxiv.font: UnifontMy:style=Bold:size=12:rgba=none
Nsxiv.window.background: #000
Nsxiv.window.foreground: #aaa
Nsxiv.bar.background: #aaa
Nsxiv.bar.foreground: #000
Nsxiv.bar.font: Unifont\\ JPMod:style=Bold:size=12:rgba=none
Nsxiv.keys: 
! }}}

xterm*faceName: Unifont\\-JP:style=Regular:size=12
xterm*reverseVideo: on

! To find font specification, run "xlsfonts"
! xvkbd*Font: -*-lucida-bold-r-*-*-18-*-75-*-*-*-*-*
! xvkbd*Font: -*-courier-bold-r-*-*-17-*-*-*-*-*-*-*
! xvkbd*Font: -*-helvetica-bold-r-*-*-17-*-*-*-*-*-*-*
! xvkbd*Font: -gnu-unifont-medium-r-normal-sans-16-160-75-75-c-80-iso10646-1
! xvkbd*Font: -misc-comic relief-bold-r-normal--0-140-0-0-p-0-koi8-uni
! xvkbd*Font: -misc-migu 2m-bold-r-normal--0-0-0-0-p-0-iso10646-1
xvkbd*Font: -misc-ipaexgothic-medium-r-normal--20-0-0-0-p-0-iso10646-1

! xvkbd*compact: true
! xvkbd.windowGeometry: 600x200-0-0

! vim: cms=!%s
