[Unit]
Description=udiskie daemon

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --no-automount
Restart=always

[Install]
WantedBy=default.target

